In [1]:

####################################################################################################
####################################################################################################

import os
import sys

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pickle
import pandas as pd

import scipy as sp
import scipy.stats
from scipy.stats import poisson

from IPython.display import display

sys.path.append("../")

from pax_utils import pax_utils

In [2]:

####################################################################################################
####################################################################################################

#ver = 'v180220'
#ver = 'v180222'
#ver = '1803031449'
#ver = '50k_1803081839'
#ver = '200k_1803261941'
ver = '4k_test'

file_inst = '../pax_instructions/merged_instructions_files.pkl'
file_pax  = 'merged/merged_pax_' + str(ver) + '.pkl'
file_all  = 'merged/merged_all_' + str(ver) + '.pkl'


####################################################################################################
####################################################################################################

nInst = 200000

df_inst = pd.read_pickle(file_inst)[:][0:nInst].reset_index(drop=True).rename(columns={'instruction': 'event_number'}).copy()
df_pax  = pd.read_pickle(file_pax).reset_index(drop=True)

df_inst['event_number'] = df_inst.index
df_pax ['event_number'] = df_pax.index

rows = 1

print(df_inst.shape)
print(df_pax.shape)

display(df_inst[0:rows][:])
display(df_pax[0:rows][:])

nInst = df_inst.shape[0]
nPax  = df_pax.shape[0]

if (nInst != nPax):
    
    print("Error! number of pax events (" +str(nPax) + ") not equal to number of instructions (" + str(nInst) + ")")

(200000, 8)
(4, 148)

,event_number,recoil_type,x,y,depth,s1_photons,s2_electrons,t
0,0,ER,4.628629,27.725661,24.814994,5,20,650000.0

,event_number,event_n_pulses,event_pulses_count,event_s2_count,event_s2_left,event_s2_right,event_s2_length,intr_count,intr_x,intr_y,...,s2_area_117,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126
0,0,190,190,3,82836,83317,482,0,NaN,NaN,...,1.584757,0.0,2.464882,0.924652,0.0,1.981129,3.65679,0.0,1.322134,2.032758

Error! number of pax events (4) not equal to number of instructions (200000)

In [3]:

####################################################################################################
####################################################################################################

#rows = 1001

#df1 = df_inst[0:rows][['event_number', 'x', 'y']].copy()
#df2 = df_pax [0:rows][['event_number'     ]].copy()

#print(df1.shape)
#print(df2.shape)
#print(df3.shape)

#display(df1)
#display(df2)
#display(df3)



#display(df2)
#df_all = pd.merge(df_inst['evet', df_pax, on='event_number', how='inner')


####################################################################################################
####################################################################################################

df_all = pd.merge(df_inst, df_pax, on='event_number')

print(file_all)

df_all.to_pickle(file_all)

merged/merged_all_4k_test.pkl

In [4]:

####################################################################################################
####################################################################################################

df_test = pd.read_pickle(file_all)
nEvents = df_test.shape[0
                       ]
print()
print("MergedEvents: " + str(nEvents))
display(df_test[:][0:5])
print()

MergedEvents: 4

,event_number,recoil_type,x,y,depth,s1_photons,s2_electrons,t,event_n_pulses,event_pulses_count,...,s2_area_117,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126
0,0,ER,4.628629,27.725661,24.814994,5,20,650000.0,190,190,...,1.584757,0.0,2.464882,0.924652,0.000000,1.981129,3.656790,0.000000,1.322134,2.032758
1,1,ER,2.626434,-17.960824,57.456815,164,79,650000.0,400,400,...,6.564991,0.0,0.400128,2.742959,3.460256,8.159419,38.424745,15.890681,1.354377,10.354574
2,2,ER,-32.844888,-21.247503,25.655845,11,22,650000.0,280,280,...,2.361786,0.0,26.837419,33.089710,12.744384,3.534233,1.664886,1.820064,12.743093,5.682320
3,3,ER,10.907536,-6.312277,57.780505,212,75,650000.0,211,211,...,0.000000,0.0,0.000000,0.634962,4.080697,6.731023,0.000000,1.323460,3.512706,1.569869